[submodule "devka-graphics/3rdparty/glfw"]
	path = devka-graphics/3rdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "devka-common/3rdparty/spdlog"]
	path = devka-common/3rdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "devka-physics/3rdparty/glm"]
	path = devka-physics/3rdparty/glm
	url = https://github.com/g-truc/glm
